@import url('https://use.typekit.net/gwg7xjg.css');

.title-container {
   font-family: nunito, sans-serif;
   font-style: normal;
   font-size: 36px;
   line-height: 49px;
   text-align: center;
}

.icon {
   text-align: center;
   padding-top: 75px;
   padding-bottom: 45px;
}
